@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.wallet-adapter-dropdown i.wallet-adapter-button-start-icon {
  position: relative;
}
.wallet-adapter-dropdown .wallet-adapter-button-start-icon img {
  position: absolute;
  left: -9px;
  transform: scale(1.6);
}

.wallet-adapter-dropdown-list {
  background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.wallet-adapter-button:not([disabled]):hover,
.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}
.wallet-adapter-dropdown-list-item {
  color: rgb(100 116 139 / var(--tw-text-opacity));
}

html.dark .wallet-adapter-dropdown-list {
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}
html.dark .wallet-adapter-button:not([disabled]):hover,
html.dark .wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}
html.dark .wallet-adapter-dropdown-list-item {
  color: rgb(148 163 184 / var(--tw-text-opacity));
}